#gallery {
  position: relative;
  top: 50px;
  box-sizing: border-box;
  margin-bottom: 40px;
  background: #212529;
  color: #fff;
}
/* 
Project Right */

.projectRight {
  display: grid;
  grid-template-columns: 60% 40%;
  border-bottom: 2px solid white;
  

}
.projectRight .part-left {
  line-height: 2rem; 
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5% ;
}

.projectRight .part-right {
 height: 500px;
 width: 100%;
 justify-self: end;
 margin-right: 5%;
} 

.projectRight .part-right img {
  padding: 20px 0 10px 0 ;
  height: 100%; 
  width: 100%;
  border-radius: 5px;
}

/* Project Left */

.projectLeft {
  display: grid;
  grid-template-columns: 40% 60%;
  border-bottom: 2px solid white;
  
}

.projectLeft .part-rightus {
  line-height: 2rem; 
  justify-self: end;
  margin-right: 5%;
  margin-top: 5%;
  margin-left: 10%;
  overflow: hidden;

}


.projectLeft .part-leftus {
  height: 500px;
 } 
 
 .projectLeft .part-leftus img {
   padding: 20px 0 10px 0 ;
   height: 100%;
   width: 100%; 
   margin-left:5% ;
   border-radius: 5px;
 }

.check {
  color: #fff;
  text-decoration: none;
  text-align: center;
  }
.check:hover {
  color: #fff;
  text-decoration: none;
}

.check .fa-readme {
  margin-left: 12px;
}

#gallery .click-btn {
  display: block;
  width: 150px;
  height: 30px;
  background: rgba(51, 51, 51, 0.61);
  border-radius: 20px;
  transition: 0.4s;
}
#gallery .click-btn:hover {
  display: block;
  width: 150px;
  height: 30px;
  background: rgba(51, 51, 51, 0.9);
  border-radius: 20px;
}

/* Design */

#design {
  background: #000;
  padding-top: 100px;
  padding-bottom: 10px;
}

.designWithUs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);  
  margin-bottom: 40px;
}

.designWithUs .img-div { 
  align-self: center;
  justify-self: center;
 
}
.designWithUs img { 
  height: 500px;
  width: 600px; 
  border-radius: 100px; 
}
.designWithUs .btn-div {

  background: #212529;
  height: 500px;
  width: 600px; 
  align-self: center;
  justify-self: center;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.btn-design {
  align-self: center;
  width: 150px;
  height: 80px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  margin-top: 5%;
  transition: ease 0.5s;
} 
.btn-design:hover {
  align-self: center;
  width: 350px;
 
  background: rgba(0, 0, 0, 0.205);
} 



/* POP UP */


.form-div {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 100px;
  z-index: 10;
  overflow-y: hidden;
  display: none;
  
}

.form {
  position: relative;
  width: 50%;
  height: 600px;
  background: rgb(58, 57, 57);
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.form input {
  display: block;
  width: 80%;
  margin: auto;
  background: transparent;
  color: #fff;
  border: 2px solid white;
  height: 50px;
  outline: none;
  border-radius: 5px;
  

}

.form textarea {
  display: block;
  width: 80%;
  margin: auto;
  background: transparent;
  color: #fff;
  border: 2px solid white;
  height: 100px;
  outline: none;
  border-radius: 5px;
}

.btn-design-2 {
  margin: auto;
  width: 150px;
  height: 80px;
  background: rgba(0, 0, 0, 0.308);
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  margin-top: 5%;
  transition: ease 0.5s;
  outline: none;
} 
.btn-design-2:hover {
  align-self: center;
  width: 350px;
 
  background: rgba(0, 0, 0, 0.205);
  outline: none;
} 

.exit {
  position: absolute;
  color: #fff;
  font-size: 1.5rem;
  top: 3%;
  right: 3%;
  cursor: pointer;
}